
/* CODIGOS */

pre {
    margin-top: 10px;
    tab-size: 2;    
}

.codigo {
    margin-left: 15px;
}

code {
    border-radius: 10px;
    width: max-content;
}

.codes {
    color: var(--c2);
    width: 100%;
}

.bCode {
    background-color: var(--c3);        
    border-radius: 10rem;    
    padding: 10px;    
    width: 1.5rem;    
    height: 1.5rem;                
    margin-left: calc(100% - 4rem);    
    margin-top: -3.2rem;        
    cursor: pointer;
}

.tCode{    
    width: calc(100% - 40px);
}

.bCode:hover {
    background-color: var(--c4);            
}

.color3 {
    color: var(--c2);
}

.p1Error {
    padding-top: 8px;
    margin-left: 15px;
    margin-bottom: 30px;
    width: 15rem;
    color: #f00;
}

.pCodigos {    
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-left: 1.8rem;
}

.aLink {
    cursor: pointer;
    margin-left: 1rem;
}

.buttonsCodes {
    margin-top: 1rem;
    margin-left: 1.8rem;
}

.auxCode {
    margin-top: 1.2rem;    
    margin-left: 1.4rem;    
}

.icoTitle { 
    margin-left: .6rem;
    margin-top: .4rem;
    width: 1.6rem;
}

.buttonSpace {    
    height: 2rem;
}