.subject_viewer {    
    width: 100%;
    height: 100%;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    gap: .5rem;
}

.subject_create {    
    height: max-content;
    width: 100%;     
    height: 100%;     
    right: 0rem;
    padding-bottom: .5rem;    
    margin-right: .5rem;    
    display: none; 
}

.subject_buttons {
    position: absolute;
    bottom: 1rem; 
    right: 0;
    display: flex;
    justify-content: right; 
    gap: 1rem;
    margin-top: .5rem;
    padding-right: 1rem; 
}

#subject_cancel {
    background-color: var(--ct);
}

#subject_cancel:hover {
    background-color: var(--c1);
}


.subject_element {
    width: 18rem; 
    height: 7.6rem;  
    border: .1rem solid var(--c1);       
    border-radius: .5rem;
    background-color: var(--c3);
}

.subject_element_top {
    display: flex;        
    flex-wrap: wrap;
    align-items: center;    
    background-color: var(--c1);
    padding: .3rem ; 
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.subject_element_ico {
    width: 1.5rem;
    height: 1.5rem; 
}

.subject_element_title {
    margin-left: .3rem; 
}

.subject_element_description {
    height: 4.5rem;        
}

.subject_element_description p {
    position: relative; 
    font-size: .8rem;
    height: 4.4rem;
    padding: .5rem;
    border-radius: 0rem 0rem .5rem .5rem;
    font-family: ps_b;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    z-index: 1; 
    background: none;
}

.subject_element_description img {
    opacity: .1;
    height: 5.5rem;
    border-radius: 0rem 0rem .5rem .5rem;
    width: 18rem;
    position: absolute;
}